# Frontend local
FRONTEND_PORT=9000
NEXT_PUBLIC_API_URL=http://localhost:9001
NEXT_PUBLIC_TRACKING_URL=https://localhost:9002

# Test
FRONTEND_TEST_PORT=9100
FRONTEND_TEST_URL=http://127.0.0.1:9100
NEXT_PUBLIC_API_URL_TEST=http://127.0.0.1:9101
NEXT_PUBLIC_TRACKING_URL_TEST=http://127.0.0.1:9102
E2E_USERNAME=pierols
E2E_PASSWORD=123456
